/* NAVBAR - POSITION ON TOP */
#navbar-full .navbar{
    border-radius: 0 !important;
    /*margin-bottom: 15px;*/
    z-index: 2;
}

/* DESCRIPTION - text color */
.description {
    color: #000000;
}

/* CUSTOM BACKGROUND - LOGIN & PROFILE PAGE */
#custom-bg-container {
    background-image: url('/assets/img/background/bg-06.jpg');
    background-size: cover;
    background-position: top center;
}

/* CUSTOM BACKGROUND - AFTER LOGIN */
#custom-bg-user {
    background-image: url('/assets/img/background/bg-01.jpg');
    background-size: cover;
    background-position: center center;
}

/* OVERRIDE DEFAULT FORM FOCUS COLORS */
.form-control,
.form-group .form-control {
    background-image: linear-gradient(#03A9F4, #03A9F4), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused .form-control {
    background-image: linear-gradient(#03A9F4, #03A9F4), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused .form-control .material-input:after {
    background-color: #03A9F4;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #03A9F4;
}

/* CUSTOM - CHECK BOX COLOR */
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #03A9F4;
}

/* CUSTOM - LINK COLORS */
a, a:hover, a:focus {
    color: #03A9F4;
}

/* DATEPICKER */
.datepicker td.active p,
.datepicker td.active:hover p {
    background-color: #03A9F4;
}

.datepicker td.primary p,
.datepicker td.primary:hover p {
    background-color: #03A9F4;
}

.datepicker span.active, .datepicker span.active:focus, .datepicker span.active:hover, .datepicker span.active:active {
    background-color: #03A9F4;
}

.datepicker span.primary,
.datepicker span.primary:hover {
    background-color: #03A9F4;
}

/* CUSTOM - MAIN DIV */
.custom-container-main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
    margin-top: -60px;
    /*padding: 2em;*/
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*Search bar dropdown functionality CSS*/

/*#namebar {*/
    /*position: relative;*/
    /*margin-bottom: 0;*/
/*}*/

/*#NameBarForm {*/
    /*margin-bottom: %;*/
/*}*/

#loaderID {
    position: fixed;
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) scale(0.5,0.5);
    width: 498px;
    height: 632px;
    z-index: 9999;
    visibility: hidden;
    background: url(/gploader.gif) center no-repeat;
}

/* NAVBAR - custom */
/* changes applied in material-kit.css to navbar-inverse */

/* Make image inside article content div fit */


/* media-query flags start */
/* Code below for debugging purposes, to display the responsive design breakpoints upon resizing of window */

body:before
{
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    padding: 10px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 50px;
    content: "XS";
    background: rgba(215, 44, 44, 0.5);
}

/* BUTTON - custom */
.btn-group.open > .dropdown-toggle.btn.btn-inverse,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse {
    background-color: #293A46;
}

#carouselMediaPage, #audioGallery, #videoGallery {
    display: block;
    width: 80%;
    background: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

#carouselMediaPage img, video {
    height: 400px;
    width: 80%;
    object-fit: contain;
}

#audioGallery {
    height: 400px;
    width: 80%;
    object-fit: contain;
}

audio {
    height: 50px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
}

#audioWave, #defaultAudioWave {
    position: static;
    width: 60%;
    height: 50%;
    object-fit: contain;
}

.friendButton {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*video {*/
    /*height: 240px;*/
    /*width: 426px;*/
    /*object-fit: contain;*/
/*}*/


.centering {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills.nav-pills-slashn > li.active > a, .nav-pills.nav-pills-info > li.active > a:focus, .nav-pills.nav-pills-info > li.active > a:hover {
    background-color: #293A46;
    box-shadow: 0 16px 26px -10px rgba(41, 58, 70, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(41, 58, 70, 0.2);
}


#audioGallery .carouselSlashControl-left {
    position: absolute;
    left: 0%;
    top: 45%;
}

#audioGallery .carouselSlashControl-right {
    position: absolute;
    right: 0%;
    top: 45%;
}

#videoGallery .carouselSlashControl-left {
    position: absolute;
    left: 10%;
    top: 45%;
}

#videoGallery .carouselSlashControl-right {
    position: absolute;
    right: 10%;
    top: 45%;
}

.imageContainer {
    display: block;
    width: 100%;
}

.img-slashResponsive {
    display: block;
    width: 10rem;
    height: 100px;
    object-fit: contain;
}

/*.nav-pills-slashn > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {*/
    /*background-color: black;*/
    /*color: #FFFFFF;*/
    /*box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);*/


/*class="img-responsive"*/

/*#carouselMediaPage img {*/
    /*left: 50%;*/
    /*!*transform: translate(-50%);*!*/
/*}*/

/*carousel-inner > .item > img,*/
/*.carousel-inner > .item > a > img {*/
    /*display: block;*/
    /*max-width: 100%;*/
    /*height: 400px !important;*/
/*}*/

/*style="left: 50%; right: 50%"*/

@media (min-width: 768px) { body:before { content: "SM"; background: rgba(215, 44, 215, 0.5); } }
@media (min-width: 992px) { body:before { content: "MD"; background: rgba(44, 215, 44, 0.5); } }
@media (min-width: 1200px) { body:before { content: "LG"; background: rgba(44, 44, 215, 0.5); } }

/* media-query flags end */