
<!-- FOOTER START -->
<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="login_page.jsp">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/terms">
                        T & C
                    </a>
                </li>
                <li>
                    <a href="../EasterEggPage.jsp">
                        Secret
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <a href="#" target="_self">Team Slash N</a> &copy; 2017
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- Scroll To Top Button Implementation -->
<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>

<!-- material-scrolltop plugin -->
<script src="scroll-to-top/material-scrolltop.js"></script>

<!-- Initialize material-scrolltop with (minimal) -->
<script>
    $('body').materialScrollTop();
</script>