<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<%--Triology Part 3.5 TODO display this in tables--%>

<%--<table class="table table-striped table-hover table-responsive">--%>

    <%--<tr>--%>
        <%--<th>Media Item</th>--%>
        <%--</tr>--%>

    <%--<c:forEach var="mediagroups" items="${mediaOutPut}">--%>
        <%--<c:if test="${mediagroups.key.equals(\"photo\")}">--%>
        <%--<c:forEach var="media" items="${mediagroups.value}">--%>

            <%--<tr>--%>
                <%--<td>--%>
                    <%--<img src="${media}" width='300px'>--%>
                    <%--</td>--%>
                <%--</tr>--%>

            <%--</c:forEach>--%>
        <%--</c:if>--%>
        <%--<c:if test="${mediagroups.key.equals(\"audio\")}">--%>
        <%--<c:forEach var="media" items="${mediagroups.value}">--%>

            <%--<tr>--%>
                <%--<td>--%>
                    <%--<audio controls>--%>
                        <%--<source src="${media}" type="audio/ogg">--%>
                        <%--</audio>--%>
                    <%--</td>--%>
                <%--</tr>--%>

            <%--</c:forEach>--%>
        <%--</c:if>--%>
        <%--<c:if test="${mediagroups.key.equals(\"video\")}">--%>
        <%--<c:forEach var="media" items="${mediagroups.value}">--%>
            <%--<tr>--%>
                <%--<td>--%>
                    <%--<video width="400" controls>--%>
                        <%--<source src="${media}" height='30%'>--%>
                        <%--</video>--%>
                    <%--</td>--%>
                <%--</tr>--%>
            <%--</c:forEach>--%>
        <%--</c:if>--%>
        <%--</c:forEach>--%>

    <%--</table>--%>

</body>
</html>